<ion-view view-title="{{listTemas[unidad_index].titulo}}">
  <ion-content class="details animated slideInUp">
    <div class="details_content padding ">

      <h4 class="main-text-color">{{listTemas[unidad_index].titulo}}</h4>
      <p ng-bind-html="listTemas[unidad_index].descripcion"></p>


      <h4 class="main-text-color" ng-if="listTemas[unidad_index].articulos && listTemas[unidad_index].articulos.length >0">Contenido</h4>

      <ion-list class="details_lists">
        <ion-item ng-repeat="articulo in listTemas[unidad_index].articulos" ng-click="verContenido(articulo)">
          <span >{{articulo.titulo}}</span>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
<script id="contenido-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title" ng-bind-html="contenidoModal.titulo"></h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
    </ion-header-bar>
    <ion-content>
      <div class="detalle_contenido" ng-bind-html="contenidoModal.contenido"></div>
      <div>
        <img ng-repeat="imagen in contenidoModal.imagenes" src="{{imagen}}" style="max-width: 90%; margin: auto">
      </div>
      <div>
        <div class="list card">
          <div on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" ng-if="contenidoModal.tarjetas && contenidoModal.tarjetas.length>0">
            <data ng-init="onSwipeLeft()"></data>
            <div class="">
              <h5 ng-bind-html="tarjeta.titulo"></h5>
            </div>
            <div class="item item-body text-center">
              <table border="1">
                <tr>
                  <th><b>Mam</b></th>
                  <th><b>Español</b></th>
                </tr>
                <tr>
                  <td>{{tarjeta.mam}}</td>
                  <td>{{tarjeta.espanol}}</td>
                </tr>
              </table>
              <img src="{{tarjeta.imagen}}" style="max-width: 50%; margin: auto">

            </div>

            <div class="row">
              <div class="col">
                <button class="button button-stable ion-chevron-left" ng-click="onSwipeRight()"></button>
              </div>
              <div class="col text-right">
                <button class="button button-stable ion-chevron-right" ng-click="onSwipeLeft()"></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<style>
  h1.title {
    color: #d60a39;
  }
  .scroll {
    margin: 1em;
  }
  th, td {
    border: 1px solid black;
    padding-left: 1em;
    width: 10em;
    padding-right: 1em;
  }

  table{
    margin: auto;
  }
</style>
