<ion-view view-title="ABOUT US">
  <ion-content class="about_content main-bg padding">
        <div class="logo text-center animated zoomIn">
           <img src="img/logo1.png" />
        </div>
        <div class="about_detail">
                <p>Aprendizaje del idioma Mam es un proyecto de carrera por el estudiante Henry Jimenez de la Universidad Mariano Gálvez de Guatemala en colabiración con la Academia de Lenguas Mayas .</p>
          <img src="img/contenido/Picture1.png" width="20%">
          <img src="img/contenido/logoumg2.png" width="20%">
        </div>

<!--        <div class="row social-media">-->
<!--            <div class="col col-25">-->
<!--                <span class="cir facebook animated rotateIn"><i class="icon ion-social-facebook"></i></span>-->
<!--            </div>-->
<!--            <div class="col col-25">-->
<!--                <span class="cir twitter animated rotateIn"><i class="icon ion-social-twitter"></i></span>-->
<!--            </div>-->
<!--            <div class="col col-25">-->
<!--                <span class="cir youtube animated rotateIn"><i class="icon ion-social-youtube"></i></span>-->
<!--            </div>-->
<!--            <div class="col col-25">-->
<!--                <span class="cir linkedin animated rotateIn"><i class="icon ion-social-linkedin"></i></span>-->
<!--            </div>-->
<!--        </div>-->
  </ion-content>
</ion-view>
