<ion-view view-title="CONTACT US">
  <ion-content class="contact_content padding text-center main-bg">
      
        <div class="contact_head animated zoomIn">
            <span class="get text-center main-bg-color">ALLWAYS GET IN TOUCH</span>
            <h4 class="th-main-text-color">WE AWAYS STAY CONNECTED </h4>
            <span class="with text-center sec-main-bg-color">WITH YOU</span>
        </div>

        <div class="contact_form">
            <label class="item th-main-border-color item-input">
                <input type="text" placeholder="Full Name">
            </label>
            <label class="item th-main-border-color item-input">
                <input type="email" placeholder="Your Mail">
            </label>
            <label class="item th-main-border-color item-input">
                <textarea placeholder="Your Massage"></textarea>
            </label>

            <button class="button button-block sec-main-btn main-btn main-bg-color">
            SUBMIT
            </button>
        </div>
    
  </ion-content>
</ion-view>
