<ion-view view-title="Details">
  <ion-content class="details animated slideInUp">
    
     <div class="details_head">
         <div class="social_icon text-center" ng-click="color_favorite()" ng-class="{'main-bg-color animated zoomIn':favorite}">
             <i class="icon ion-heart"></i>
         </div>
         <div class="social_icon text-center share" ng-click="showSocial()">
             <i class="icon ion-android-share-alt"></i>
         </div>
        <div>
            <div class="social_media text-center" ng-if="social">
                <span class="main-bg-color animated lightSpeedIn"><i class="ion-social-facebook"></i></span>
                <span class="main-bg-color animated lightSpeedIn"><i class="ion-social-twitter"></i></span>
                <span class="main-bg-color animated lightSpeedIn"><i class="ion-social-googleplus"></i></span>
                <span class="main-bg-color animated lightSpeedIn"><i class="ion-social-instagram"></i></span>
            </div>
        </div>
         <div class="tools text-center">
             <img src="img/play-tools.png" />
         </div>
     </div>
      
      <div class="details_content padding ">
          
          <h4 class="main-text-color">Bootstrap Layouts -  responsive single Page Design</h4>
          <p>Web designers can significantly expand their skill set and job prospects by getting comfortable with JavaScript. It allows you to do things with your websites that would be impossible with HTML and CSS alone. Learn some basic, real-world uses for JavaScript in this course with Joe Chellman. You'll find out how to work with JavaScript in the browser and in a code editor, add JavaScript to a form, read data from that form, and check input for errors. Plus, learn how to transform a long, scrolling page into a smart and stylish tabbed interface and add interactive content </p>
          
          
          <h4 class="main-text-color">Topics include</h4>

          <ion-list class="details_list">
            <ion-item>
               <p><i class="ion-record main-text-color"></i>What is JavaScript?</p>
            </ion-item>
            <ion-item >
               <p><i class="ion-record main-text-color"></i>Adding interactivity to your site</p>
            </ion-item>
            <ion-item>
                <p><i class="ion-record main-text-color"></i>Writing and debugging JavaScript</p>
            </ion-item>
            <ion-item>
                <p><i class="ion-record main-text-color"></i>Understanding JavaScript jargon</p>
            </ion-item>
            <ion-item>
                <p><i class="ion-record main-text-color"></i>Getting the values from form fields</p>
            </ion-item>
            <ion-item>
                <p><i class="ion-record main-text-color"></i>Using user input in calculations</p>
            </ion-item>
            <ion-item>
                <p><i class="ion-record main-text-color"></i>Creating navigation tabs with JavaScript</p>
            </ion-item>
            <ion-item>
                <p><i class="ion-record main-text-color"></i>Adding a map with the Google Maps API</p>
            </ion-item>
              
          </ion-list>
      
      <div class="details_author">
          <p><span>Subject  : </span> Web</p>
          <p><span>Software : </span> JavaScript</p>
          <p><span>Author  : </span> Joe Chellman </p>
      </div>
    </div>
    <div class="padding">
        <button class="button button-block sec-main-btn main-btn main-bg-color">
            GET THIS COURSE NOW
        </button> 
    </div>   
  </ion-content>
</ion-view>
