<ion-view view-title="Inicio">
  <ion-content class="home_content">
      <div class="home_img text-center">
        <div class="home_head">
            <h4 class="sec-main-text-color animated flipInX"><span class="th-main-text-color">Bienvenido </span >a </h4>
            <span class="now_span main-bg-color animated flipInX">Aprendizaje del idioma Mam</span>
        </div>
      </div>
        <ion-list class="cat_list">
            <ion-item href="{{item.href}}" ng-repeat="item in cat" style="background:url({{item.bg}})no-repeat; " class="home_cards">
<!--               <img src="{{item.img}}"/>-->
              <i class="fas fa-{{item.icon}} fa-3x"></i>

                <h4 class=" animated flipInY">{{item.title}}</h4>
            </ion-item>
        </ion-list>
<!--      <div class="home_footer text-center">-->
<!--          <p>SHOW ALL CATEGORIES</p>-->
<!--      </div>-->
  </ion-content>
</ion-view>
