<ion-view view-title="MULTIMEDIA">
  <ion-content class="list_content">
      <!-- <div class="animated slideInRight">
          <a href="#/app/details" collection-repeat="item in list"
          collection-item-width="100%"
           collection-item-height="250">

           <div class="list_img">
               <div class="video_img"  style="background:url({{item.img}})no-repeat">
                   <div class="play text-center th-main-border-color">
                       <i class="ion-ios-play th-main-text-color"></i>
                   </div>
               </div>
              <div class="row det_list">
                  <div class="col col-25 text-center main-bg-color">
                      <h4>{{item.price}} <sup>min.</sup></h4>
                  </div>
                  <div class="col col-75 padding th-main-bg-color">
                     <p>{{item.title}}</p>
                  </div>
              </div>
           </div>
       </a>
   </div> -->
   <h1>Contenido no disponible en este momento</h1>
  </ion-content>
</ion-view>
