<ion-view view-title="Login">
  <ion-content class="form_content main-bg padding text-center">
      <div class="logo animated bounceIn">
        <img src="img/logo1.png" />
      </div>
      <form class="app-form">
        <h1 class="text-center active_color">Aprendizaje del idioma Mam</h1>
<!--        <h4>- Entrar -</h4>-->
<!--        <div class="list list-inset animated fadeInLeft">-->
<!--            <label class="item item-input">-->
<!--                <i class="icon ion-ios-person-outline placeholder-icon"></i>-->
<!--                <input type="text" placeholder="username">-->
<!--            </label>-->
<!--            <label class="item item-input">-->
<!--                <i class="icon ion-ios-locked-outline placeholder-icon"></i>-->
<!--                <input type="password" placeholder="password">-->
<!--            </label>-->
<!--        </div>-->
        <div class="row ">
            <div class="col col-100">
                <a href="#/app/home" class="button button-block main-bg-color main-btn rounded-btn">
                Entrar
                </a>
            </div>
<!--            <div class="col col-50">-->
<!--                <a href="#/register" class="button button-block sec-main-bg-color main-btn second-btn">-->
<!--                Registro-->
<!--                </a>-->
<!--            </div>-->
        </div>
<!--        <p class="forget-btn" ng-click="forget_password()">Olvidaste tu acceso?</p>-->
      </form>
  </ion-content>
</ion-view>
