<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable"
                 ng-class="{'transparent_header':showheader==false}">
      <ion-nav-back-button class="button button-icon button-clear back_btn">
          <i class="ion-ios-arrow-thin-left"></i>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
<!--          <button ng-if="showheader" class="button button-icon button-clear logout-btn" style="display:block" ng-click="goto('/login')">-->
<!--            <i class="ion-power main-text-color"></i>-->
<!--        </button>-->
<!--        <button ng-if="showheader" class="button button-icon button-clear favor-btn" style="display:block" ng-click="goto('/app/list')">-->
<!--          <i class="ion-heart"></i>-->
<!--        </button>-->
      </ion-nav-buttons>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear menu_btn" menu-toggle="left" style="display:block" ng-class="{'transparent_bg':showheader==false}">
            <img src="img/menu.png"/>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-bg" width="230">
    <ion-header-bar class="bar-stable menu_head">
        <div class="row">
            <div class="col col-33">
                <div class="menu_img"></div>
            </div>
            <div class="col col-67 profile_name">
                <h4>Idioma Man</h4>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="menu_content">
      <ion-list>
<!--        <ion-item menu-close href="#/app/profile" ng-click="activeiItem(1)" ng-class="{'active_color':active==1}">-->
<!--         <i class="icon ion-person"></i>-->
<!--          Profile-->
<!--        </ion-item>-->
        <ion-item menu-close href="#/app/home" ng-click="activeiItem(1)" ng-class="{'active_color':active==1}">
         <i class="icon ion-home"></i>
          Inicio
        </ion-item>
        <ion-item menu-close href="#/app/unidades" ng-click="activeiItem(2)" ng-class="{'active_color':active==2}">
         <i class="icon ion-home"></i>
          Contenido
        </ion-item>
        <!-- <ion-item menu-close href="#/app/home" ng-click="activeiItem(3)" ng-class="{'active_color':active==3}">
         <i class="icon ion-home"></i>
          Audios
        </ion-item>
        <ion-item menu-close href="#/app/home" ng-click="activeiItem(4)" ng-class="{'active_color':active==4}">
         <i class="icon ion-home"></i>
          Video
        </ion-item> -->
<!--        <ion-item menu-close href="#/app/list" ng-click="activeiItem(3)" ng-class="{'active_color':active==3}">-->
<!--         <i class="icon ion-heart"></i>-->
<!--          Favorites-->
<!--        </ion-item>-->
<!--        <ion-item menu-close href="#/app/contact" ng-click="activeiItem(4)" ng-class="{'active_color':active==4}">-->
<!--         <i class="icon ion-ios-telephone-outline"></i>-->
<!--          Contactenos-->
<!--        </ion-item>-->
        <ion-item menu-close href="#/app/about" ng-click="activeiItem(5)" ng-class="{'active_color':active==5}">
         <i class="icon ion-ios-help-outline"></i>
          Acerca de
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
