<ion-view view-title="">
  <ion-content class="profile_content main-bg">
        <div class="profile_head">
            <div class="profile_pic text-center">
                <div class="menu_img"></div>
                <h4>John Williams</h4>
            </div>
        </div>
      <form class="edit-profile padding animated fadeIn">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label sec-main-text-color">Full Name</span>
                <input type="text" placeholder="John Damon Williams">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label sec-main-text-color">User Name</span>
                <input type="text" placeholder="John Williams">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label sec-main-text-color">Email Address</span>
                <input type="email" placeholder="John.Williams@Curricula.com">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label sec-main-text-color">Mobile Number</span>
                <input type="number" placeholder="001122334455">
            </label>
        </div>
        <a class="button button-block sec-main-btn sec-main-bg-color main-btn">
            Update Profile
        </a>
        <a class="button button-block sec-main-btn main-bg-color main-btn power-off" ng-click="goto('/login')">
         <i class="ion-power"></i>
        </a> 
      </form>
  </ion-content>
</ion-view>
