<ion-view view-title="Register">
  <ion-content class="form_content register main-bg padding text-center">    
      <form class="app-form">
          <h4>- REGISTER -</h4>
          <div class="list list-inset animated fadeInLeft">
            <label class="item item-input">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="text" placeholder="Full Name">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-email-outline placeholder-icon"></i>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="text" placeholder="username">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="password" placeholder="password">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="password" placeholder="Retype password">
            </label>  
           </div>
          <div class="row animated fadeInRight">
              <div class="col col-50">
                <a href="#/app/home" class="button button-block main-bg-color main-btn first-btn">
                 REGISTER
                </a>
              </div>
               <div class="col col-50">
                <a href="#/login" class="button button-block sec-main-bg-color main-btn second-btn">
                BACK
                </a>
              </div>
          </div>   
      </form>   
  </ion-content>
</ion-view>
