<ion-view view-title="Test de aprendizaje">
    <ion-content class="details animated slideInUp">
      <div class="details_content padding ">
  
        <h4 class="main-text-color">Elija una prueba</h4> 
        <h4 class="main-text-color" ng-if="listadoTest[unidad_index] && listadoTest[unidad_index].length >0">Contenido</h4>
  
        <ion-list class="details_lists">
          <ion-item ng-repeat="tests in listadoTest[unidad_index]" ng-click="verContenido(tests)">
            <span >{{tests.titulo}}</span>
          </ion-item>
  
        </ion-list>
      </div>
    </ion-content>
  </ion-view>
  <script id="contenido-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title" ng-bind-html="contenidoModal.titulo"></h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
      </ion-header-bar>
      <ion-content>
        <div class="detalle_contenido" ng-bind-html="contenidoModal.titulo"></div>
        
        <div>
          <div class="list card">
              <div ng-if="test_finalizado">
                  <h3>Ha finalizado el test, su puntaje fue:</h3>
                  <h3 ng-if="contenidoModal.multiple" style="text-align: center;color: #00c68e;">
                      {{calcularBuenas(contenidoModal.multiple)}}/{{contenidoModal.multiple.length}}
                  </h3>

                  <span class="button button-clear button-primary" ng-click="volverTest()"> Volver</span>
              </div>
            <div on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" ng-if="contenidoModal.multiple && contenidoModal.multiple.length>0 && !test_finalizado">
              <data ng-init="onSwipeLeft()"></data>
              <div class="">
                <h4 style="color: red;text-align: center;" ng-bind-html="contenidoModal.multiple[indiceTarjeta].titulo | uppercase"></h4>
              </div>
              <div class="item item-body text-center">
                  <h3>Seleccione una opcion</h3>
                  <ion-list>
                    <ion-radio ng-repeat="option in contenidoModal.multiple[indiceTarjeta].opciones" 
                    ng-value="option" 
                    ng-model="contenidoModal.multiple[indiceTarjeta].respuesta_usuario" 
                    >{{option}}</ion-radio>
                  </ion-list>
                  
              </div>
  
              <div class="row">
                <div class="col">
                  <button class="button button-stable ion-chevron-left" ng-click="onSwipeRight()"></button>
                </div>
                <div class="col text-right">
                  <button class="button button-stable ion-chevron-right" ng-click="onSwipeLeft()"></button>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  
  <style>
    h1.title {
      color: #d60a39;
    }
    .scroll {
      margin: 1em;
    }
    th, td {
      border: 1px solid black;
      padding-left: 1em;
      width: 10em;
      padding-right: 1em;
    }
  
    table{
      margin: auto;
    }
  </style>
  