<ion-view view-title="Test">
    <ion-content class="list_content">
      <div class="animated slideInRight">
        <ion-list>
          <ion-item ng-repeat=" (indice,nombre) in listUnidades" ng-click="irUnidad(indice)">
            {{nombre}}
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-view>
  