/* Empty. Add your own CSS if you like */
/********* start change main color **********/
.main-bg-color{
    background: #de2666 !important
}
.main-text-color{
    color: #de2666 !important
}

.sec-main-bg-color{
    background: #2b97f9 !important
}
.sec-main-text-color{
    color: #2b97f9 !important
}

.th-main-bg-color{
    background: #ffb001 !important
}
.th-main-text-color{
    color: #ffb001 !important
}
.th-main-border-color{
    border-color: #ffb001 !important
}
/********* end change main color **********/

.main-bg{
    background: url("../img/bg.png")no-repeat;
    background-size: cover
}
.main-btn.button.button-block{
    border: none;
    color: #fff;
    height: 55px;
    line-height: 55px;
    border-radius: 0;
    font-size: 15px
}
h4{
    color: #fff;
    font-size: 16px;
    font-weight: 600
}

/************   login page   **************/
.form_content.padding{
    padding: 30px
}
.logo{
    margin-top: 50px;
    margin-bottom: 30px
}
.logo img{
    width: 90px;
    height: 87px
}
.app-form h4{
    font-weight: normal
}
.app-form label{
    height: 55px;
    border: none;
    margin-bottom: 2px
}
.app-form .list{
    margin: 35px 0 20px 0;
    border-radius: 5px;
    background: none
}
.app-form .placeholder-icon{
    padding-right: 10px;
    color: #555555
}
.app-form .col ,.app-form .row{
    padding: 0px;
}
.first-btn.button.button-block{
    border-radius: 5px 0 0 5px;
}
.second-btn.button.button-block{
  border-radius: 0 5px 5px 0;
}
.rounded-btn.button.button-block{
  border-radius: 5px 5px 5px 5px;
}
.forget-btn{
    color: #fff;
    font-size: 13px;
    margin-top: 30px
}

/************   Popup style  **************/
.popup-container .popup{
    background: #1c1c34
}
.popup-title{
    color: white
}
.popup-body{
    color: white
}
.popup-buttons .button{
    margin-right: 0
}
/************   register page   **************/
.form_content.register{
    padding-top: 55px
}

/************     Header    **************/
.bar.bar-stable{
    height: 60px;
    background-color: none;
    background: #1c1c34;
    color: #fff;
    border: none
}
.has-header {
    top: 60px;
}
.bar.bar-stable .title{
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase
}
.bar-stable .button.button-icon{
    top: 4px;
    color:#fff;
}
.bar-stable .back_btn.button.button-clear{
    position: absolute;
    right: 65px;
    height: 50px;
    min-height: 50px;
    font-size: 29px;
    width: 30px
}
.bar-stable .favor-btn.button.button-icon{
    right: 35px;
    font-size: 20px;
    width: 35px
}
.bar-stable .logout-btn.button.button-icon{
    right: -35px;
    font-size: 20px;
    width: 35px
}

/************   home page   **************/
.home_content{
    margin: 0;
    padding: 0;
    background: #1c1c34
}
.home_content .scroll{
    height: 100%
}
.home_img{
    height: 25%;
    background: url("../img/bg_content_home.png")no-repeat;
    background-size: cover
}
.home_head{
    width: 245px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 13%
}
.home_head h4{
    margin: 0 0 2px 0;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.now_span{
    float: right;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    padding: 3px 8px
}
.cat_list .item-complex .item-content{
    padding: 15px;
    background: none;
    height: 100%
}
.cat_list .item{
    width: 50%;
    float: left;
    margin: 0px;
    border: none;
    text-align: center;
    height: 22%
}
.cat_list .item:before{
    content: '';
    background: rgba(255,50,106,0.87);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1
}
.cat_list .item:nth-child(2):before,.cat_list .item:nth-child(3):before,.cat_list .item:nth-child(6):before{
    background: rgba(28,28,52,0.9)
}
.cat_list .list{
    padding: 0;
    display: initial
}
.cat_list h4{
    font-size: 15px !important
}
.cat_list img{
    min-width: 35px;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 8%
}
.home_footer{
    background: url("../img/footer.png")no-repeat;
    background-size: cover;
    height: 11%;
    display: inline-block;
    width: 100%;
    border: none
}
.home_footer p{
    margin: 6% 0;
    color: #fff;
    font-weight: 600;
    font-size: 15px
}
@media (min-width: 680px){
    .cat_list img{
        margin-top: 14%
    }
    .home_head{
        margin-top: 12%
    }
}

/**********   list page ***********/
.list_content.has-header{
    background: #1c1c34
}
.video_img{
    height: 186px;
    background-size: cover !important;
    position: relative
}
.video_img:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(28,28,52,.5)
}
.play{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 34%;
    width: 54px;
    height: 54px;
    line-height: 45px;
    font-size: 49px;
    border: 3px solid;
    border-radius: 50%;
    opacity: .8
}
.play i{
    margin-left: 8px
}
.det_list{
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 65px
}
.det_list h4{
    line-height: 32px;
    font-size: 18px
}
.det_list p{
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    overflow: hidden
}

/************  Details Page  **************/
.details .scroll{
    height: 100%
}
.details_head{
    height: 202px;
    background: url(../img/001.png)no-repeat;
    background-size: cover;
    position: relative
}
.tools{
    position: absolute;
    bottom: 0;
    height: 17%;
    width: 100%;
    background: rgba(0,0,0,.8)
}
.tools img{
    width: 95%;
    margin-top: 11px
}
@media (min-width: 680px){
    .tools{
        height: 25%
    }
}
.social_icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 17px;
    background-color:#312b3d;
    position: absolute;
    top: 12px;
    left: 12px
}
.social_icon.share {
    top: 55px
}
.social_media{
    position: absolute;
    left: 50px;
    top: 55px;
    white-space: nowrap;
    display: inline-block
}
.social_media span{
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    white-space: nowrap
}
.details_content.padding{
    padding: 20px;
    padding-bottom: 0
}
.details_content h4{
    margin-top: 0
}
.details_content p{
    color:#444453;
    margin-bottom: 20px
}
.details_list .list {
    margin-left: 9px
}
.details_list .item{
    border: none;
    padding: 0;
    padding-bottom: 4px
}
.details_list .item i{
    font-size: 10px;
    padding-right: 10px
}
.details_author{
    margin: 30px 0 20px 0
}
.details_author p{
    color: #63636e;
    font-size: 15px;
    margin-bottom: 5px
}
.details_author span{
   font-weight: bolder;
    color: #000;
    min-width: 80px;
    display: inline-block
}
.details .main-btn.button.button-block{
    margin-bottom: 0
}

/************   menu page   **************/
.bar-stable .button.button-clear {
    width: 43px
}
.menu_btn img{
    width: 22px;
    height: 22px
}
.menu_head.bar.bar-stable{
    height: 115px;
    background: transparent;
    padding-top: 25px;
}
.menu_content.has-header{
    top: 115px
}
.menu_content .item{
    border:none;
    background: transparent
}
.menu_content .item a {
    border: none;
    background-color: transparent;
    color: #fff
}
.menu_content .item-complex .item-content{
    background-color: transparent;
    color: #fff;
    padding: 15px 15px 15px 40px
}
.menu_content i{
    margin-right: 10px;
}
.menu_img{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: url(../img/logo1.png)no-repeat;
    background-size: cover
}
.profile_name h4{
    line-height: 40px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.menu_content .item.active_color{
    background: rgba(16,16,42,.8)
}

/************   contact us page   **************/
.contact_content.padding{
    padding: 35px
}
.get{
    width: 100%;
    padding: 6px 0
}
.with{
    font-weight: 600 !important;
    padding: 2px;
    float: left
}
.contact_head {
    display: inline-block;
    width: 235px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 25px
}
.contact_head span{
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
}
.contact_head h4{
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: left
}
.contact_form .item {
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-left: 10px
}
.contact_form .item ,.contact_form .item-input textarea ,.contact_form .item-input input{
    background-color: transparent;
    color: white
}
.contact_form .button.button-block{
    margin-top: 75px;
}
.contact_form input::-webkit-input-placeholder {
  color: #fff
}
.contact_form input:-moz-placeholder {
  color: #fff
}
.contact_form input:-ms-input-placeholder { /* IE10+ */
  color: #fff
}
.contact_form textarea::-webkit-input-placeholder {
  color: #fff
}
.contact_form textareat:-moz-placeholder {
  color: #fff
}
.contact_form textarea:-ms-input-placeholder { /* IE10+ */
  color: #fff
}

/************   About us page   **************/
.about_content.padding{
    padding: 20px;
}
.about_content .logo{
    margin-bottom: 20px;
    margin-top: 0
}
.about_content .logo img{
    width: 100px;
    height: 95px
}
.about_detail{
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.social-media.row{
    width: 84%;
    margin: 0 auto;
}
.social-media .col{
    text-align: center;
}
.social-media .cir{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center
}
.social-media i{
    font-size: 22px;
}
.facebook{
    background: #3b5998;
}
.twitter{
   background: #00aced;
}
.youtube{
    background: #bb0000;
}
.linkedin{
    background: #007bb6;
}

/************   profile page   **************/
.transparent_header .bar.bar-stable{
    background: none !important
}
.profile_content.has-header{
    top: 0
}
.profile_content .scroll{
    height: 100%
}
.profile_head{
    width: 100%;
    height: 40%;
    background: url(../img/profile-head.png)no-repeat;
    background-size: cover;
    position: relative
}
.profile_head:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,161628+100&0+0,0.07+31,0+44,0.2+59,0.45+73,0.75+84,0.8+84,1+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(7,7,12,0.07) 31%, rgba(10,10,17,0) 44%, rgba(13,13,23,0.2) 59%, rgba(16,16,29,0.45) 73%, rgba(18,18,33,0.8) 84%, rgba(22,22,40,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(7,7,12,0.07) 31%,rgba(10,10,17,0) 44%,rgba(13,13,23,0.2) 59%,rgba(16,16,29,0.45) 73%,rgba(18,18,33,0.8) 84%,rgba(22,22,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(7,7,12,0.07) 31%,rgba(10,10,17,0) 44%,rgba(13,13,23,0.2) 59%,rgba(16,16,29,0.45) 73%,rgba(18,18,33,0.8) 84%,rgba(22,22,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#161628',GradientType=0 ); /* IE6-9 */
    z-index: 2
}
.bar-stable .button.button-clear.transparent_bg{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: rgba(0,0,0,.6)
}
.bar-stable .button.button-clear.transparent_bg img{
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 2px
}
.profile_pic{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10
}
.profile_pic .menu_img{
    display: inline-block
}
.profile_pic h4{
    margin-top: 0;
    margin-bottom: 20px
}
.edit-profile.padding{
    padding: 20px 35px;
    display: inline-block;
    width: 100%
}
.edit-profile .input-label{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px
}
.edit-profile input::-webkit-input-placeholder {
  color: #fff
}
.edit-profile .item-input{
    padding: 0
}
.edit-profile .item{
    padding: 0;
    background: none;
    border: none;
    margin-bottom: 10px
}
.edit-profile .item-stacked-label input{
    height: 20px;
    background: none;
    color: white
}
.sec-main-btn.button.button-block{
    height: 50px;
    line-height: 50px
}
.power-off.button.button-block{
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    line-height: 45px;
    float: right;
    font-size: 23px;
    margin-top: -10px
}

/************    Ios Platform  **************/
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 80px
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header{
    top: 80px
}
.platform-ios.platform-cordova:not(.fullscreen) .menu_head.bar.bar-stable:not(.bar-subheader){
    height: 135px
}
.platform-ios.platform-cordova:not(.fullscreen) .menu_content.has-header{
    top: 135px
}
.platform-ios.platform-cordova:not(.fullscreen) .profile_content.has-header{
    top: 0;
    padding-top: 20px
}

h1{
  color: white;
}
.home_cards{
  background-size:cover;
  color: white
}
.home_cards h4{
  padding-top: 1em;
}

.detalle_contenido img {
    width: 100%;
}